# Set up pretty error document pages
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

RewriteEngine On
RewriteRule ^(feed|atom)/ http://serialized.net/feed [R=301]
RewriteRule ^index.rdf http://serialized.net/feed [R=301]

# Protect this file
<Files .htaccess>
order deny,allow
deny from all
</Files>
